@tailwind base;
@tailwind components;
@tailwind utilities;


  
  @keyframes move {
    0% {
      transform: translateY(0) translateX(0);
    }
    50% {
      transform: translateY(-20px) translateX(10px);
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }

  @keyframes bubble {
    0% {
      transform: translateY(0);
      opacity: 0.8;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
  
  @keyframes subtle-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-bubble {
    animation: subtle-float 6s ease-in-out infinite;
  }
  
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .animation-delay-2500 {
    animation-delay: 2.5s;
  }
  
  .animation-delay-3000 {
    animation-delay: 3s;
  }
  
  .animation-delay-3500 {
    animation-delay: 3.5s;
  }
  
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  
  footer {
    background: linear-gradient(to right, #2d3748, #1a202c);
  }
  